<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="stsim-prms" displayName="ST-Sim PRMS" version="3.1.22" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="stsim-prms" displayName="ST-Sim PRMS" isModel="True" isPrimary="True">
        <runtime>
          <transformer name="stsim-prms:runtime"/>
        </runtime>
      </transformer>
      <transformer
          name="stsim-prms:runtime" displayName="ST-Sim PRMS"
          className="SyncroSim.StochasticTime.StochasticTimeTransformer" classAssembly="SyncroSim.StochasticTime"
          externalProgramName="RScript" externalScriptName="transformer.R"
          environmentSheet="PRMS_R_Environment" configurationSheet="PRMS_RunControl">
        <datafeeds>
          <datafeed name="stsim-prms:r-env-datafeed" displayName="R" dataScope="Library">
            <datasheets>
              <datasheet name="PRMS_R_Environment" displayName="R">
                <columns>
                  <column name="EnvironmentID" dataType="Integer" isPrimary="True"/>
                  <column name="Name" dataType="String" allowDbNull="False"/>
                  <column name="Value" dataType="String" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-prms:basin-datafeed" displayName="Basin" dataScope="Project">
            <datasheets>
              <datasheet name="PRMS_Basin" displayName="Basin" valueMember="BasinID" displayMember="Name">
                <columns>
                  <column name="BasinID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                  <column name="CRS" dataType="String"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-prms:run-control-datafeed" displayName="Run Control" dataScope="Scenario">
            <datasheets>
              <datasheet name="PRMS_RunControl" displayName="Run Control" isSingleRow="True">
                <columns>
                  <column name="RunControlID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="MinimumIteration" displayName="Minimum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1"/>
                  <column name="MaximumIteration" displayName="Maximum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MinimumTimestep" displayName="Minimum Timestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumTimestep" displayName="Maximum Timestep" dataType="Integer" defaultValue="10" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="MinimumIteration|MaximumIteration"/>
                  <validation validationType="LessEqual" columns="MinimumTimestep|MaximumTimestep"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-prms:input-stsim-scenario-datafeed" displayName="ST-Sim Scenario" dataScope="Scenario">
            <datasheets>
              <datasheet name="PRMS_InputSTSimScenario" displayName="ST-Sim Scenario" isSingleRow="True">
                <columns>
                  <column name="InputSTSimScenarioID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="STSimLibraryFile" dataType="String" isExternalFile="True" externalFileFilter="ST-Sim Libraries|*.ssim"/>
                  <column name="ResultScenarioID" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" format="d"/>
                  <column name="StateAttributeName" dataType="String"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-prms:prms-input-datafeed" displayName="PRMS Inputs" dataScope="Scenario">
            <datasheets>
              <datasheet name="PRMS_PRMSInput" displayName="PRMS Inputs">
                <columns>
                  <column name="PRMS_InputID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="BasinID" displayName="Basin" dataType="Integer" validationType="Datasheet" formula1="PRMS_Basin" allowDbNull="False"/>
                  <column name="TemplateControlFile" displayName="Template Control File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="Control Files (*.control)|*.control"/>
                  <column name="TemplateParameterFile" displayName="Template Parameter File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="Parameter Files (*.param)|*.param"/>
                  <column name="InitialHRUValueFile" displayName="Initial HRU Value File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="HRU Value Files (*.csv)|*.csv"/>
                  <column name="HRUCentroidFile" displayName="HRU Centroid File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="HRU Centroid Files (*.txt)|*.txt"/>
                  <column name="AttributePRMSLookupFile" displayName="Attribute PRMS Lookup File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="Attribute Lookup Files|*.csv"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="BasinID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-prms:climate-input-datafeed" displayName="Climate Inputs" dataScope="Scenario">
            <datasheets>
              <datasheet name="PRMS_ClimateInput" displayName="Climate Inputs">
                <columns>
                  <column name="PRMS_ClimateInputID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="BasinID" displayName="Basin" dataType="Integer" validationType="Datasheet" formula1="PRMS_Basin" allowDbNull="False"/>
                  <column name="Iteration" dataType="Integer"/>
                  <column name="InputClimateFile" displayName="Climate File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="Climate Files|*.*"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="BasinID|Iteration"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-prms:output-files-datafeed" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="PRMS_OutputFiles">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="PRMS_OutFilePath" dataType="String" isExternalFile="True" isRaster="True"/>
                  <column name="PRMS_IC_OutFilePath" dataType="String" isExternalFile="True" isRaster="True"/>
                  <column name="StatVarDatFilePath" dataType="String" isExternalFile="True" isRaster="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds" model="stsim-prms">
        <item name="system:files-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:model-run-datafeed"/>
        <item name="stsim-prms:r-env-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds" model="stsim-prms">
        <item name="stsim-prms:basin-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds" model="stsim-prms">
        <item name="stsim-prms:run-control-datafeed"/>
        <item name="stsim-prms:input-stsim-scenario-datafeed"/>
        <item name="stsim-prms:prms-input-datafeed"/>
        <item name="stsim-prms:climate-input-datafeed"/>
      </layout>
    </layouts>
    <visualizers>
      <visualizer name="stsim-prms:r-env-datafeed-visualizer" target="stsim-prms:r-env-datafeed" className="SyncroSim.Core.Forms.RConfigurationDataFeedView" classAssembly="SyncroSim.Core.Forms"/>
      <visualizer name="stsim-prms:run-control-datafeed-visualizer" target="stsim-prms:run-control-datafeed" className="SyncroSim.STSimPRMS.RunControlDataFeedView" classAssembly="SyncroSim.STSimPRMS"/>
      <visualizer name="stsim-prms:input-stsim-scenario-datafeed-visualizer" target="stsim-prms:input-stsim-scenario-datafeed" className="SyncroSim.STSimPRMS.STSimScenarioDataFeedView" classAssembly="SyncroSim.STSimPRMS"/>
    </visualizers>
  </module>
</configuration>